<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oblong"
        tools:targetApi="31">
<!--        changes camera orientation to portrait-->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/>
        <activity
            android:name=".entrant.EntrantBaseActivity"
            android:exported="false" />
        <activity android:name=".admin.AdminUserProfileView"
            android:exported="false" />
        <activity android:name=".admin.AdminEventView"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBaseActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.organizer_view_entrant_profile"
            android:exported="false" />
        <activity
            android:name=".organizer.organizer_view_event_screen"
            android:exported="false" />
        <activity
            android:name=".organizer.organizer_create_notification_activity"
            android:exported="false" />
        <activity
            android:name=".organizer.organizer_profile_edit"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantEventDescriptionWaitlistActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantEventAcceptDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantEventDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantEventListActivity"
            android:exported="true" />
        <activity
            android:name=".qr_scanner"
            android:exported="true"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".entrant.EntrantJoinEventActivity"
            android:exported="true" />
        <activity
            android:name=".organizer.organizer_base_activity"
            android:exported="true" />
        <activity
            android:name=".organizer.EventWaitingList"
            android:exported="true" />
        <activity
            android:name=".organizer.organizer_map"
            android:exported="true" />
        <activity
            android:name=".organizer.EventViewCancelled"
            android:exported="true" />
        <activity
            android:name=".organizer.EventViewAttendees"
            android:exported="true" />
        <activity
            android:name=".RoleSelector"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>